@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Staatliches', sans-serif; */

:root{
    --backgroud-header: #293241;
    --background-body: #BFD7E4;
    --background-before-form: #F67669;
    --background-form: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-body);
    font-family:  'Poppins', sans-serif;
}

body::before{
    content: '';
    display: block;
    width: 100%;
    height: 465px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    background-color: var(--backgroud-header);
} 

header{
    text-align: center;
    color: var(--background-form);

    margin-top: 107px;
}

header div{
    width: 750px;
    height: 133px;
    background-color: var(--background-before-form);
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    padding: 50px 0;
    margin: auto;

    font:  24px 'Staatliches';
    line-height: 34px;
}

header h1{
    font: 36px 'Staatliches', sans-serif;
}

header p{
    height: 41px;
}

header img{
    margin-bottom: 32px;
}




form{
    max-width: 750px;
    min-height: 300px;
    margin: 0 auto 100px;
    padding: 31px 64px;
    border-radius: 0px 0px 20px 20px;

    background-color: var(--background-form);
}

form input{
    display: flex;
    flex-direction: column;

    height: 55px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    padding-left: 20px;
    margin: 8px 0 15px;

    background: #FAFAFC;

    color: var(--backgroud-header);
    font: 16px 'Poppins', sans-serif;
}

form label{
    color: #4E4958;
    font-size: 14px;
    line-height: 24px;
}

form label span{
    color: #C1BCCC;
    font-size: 12px;
    line-height: 20px;
}

#col-2{
    display: flex;
    gap: 22px;
}

#col-2 input{
    width: 300px;
}

fieldset{
    border: none;
    margin-top: 35px;
}

fieldset legend{
    color: var(--backgroud-header);
    font: 24px 'Staatliches', sans-serif;

    line-height: 24px;
    text-align: center;

    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 31px;
}

form select{
    display: flex;
    flex-direction: column;
    

    height: 55px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    margin: 8px 0 15px;
    padding: 18px 0 0 20px;

    background: #FAFAFC;

    color: var(--backgroud-header);
    font: 14px 'Poppins', sans-serif;

    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.64984L5 5.61617L9 1.64984' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: top 50% right 27px;
}

form textarea{
    display: flex;
    flex-direction: column;

    height: 167px;
    width: 608px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    padding: 20px;
    margin: 8px 0 15px;

    background: #FAFAFC;

    color: var(--backgroud-header);
    font: 16px 'Poppins', sans-serif;
}

#validation{
    width: 24px;
    height: 23px;
    /* opacity: 0 ; */
}

/* #validat::before{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9C1 4.58172 4.58172 1 9 1H17C21.4183 1 25 4.58172 25 9V16.798C25 21.2163 21.4183 24.798 17 24.798H9C4.58172 24.798 1 21.2163 1 16.798V9Z' fill='%23FAFAFC' stroke='%23E6E6F0'/%3E%3C/svg%3E%0A");
    
    position: absolute;
    width: 24px;
    height: 23px;
} */

#validat{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#col-3{
    display: flex;
    flex-direction: row;

}

#col-3 input{
    display: flex;
    flex-direction: row;

    padding: 0 20px 0 30px
}

#col-3 div:nth-child(1) input{
    width: 300px;
    margin-right: 32px;
}

#col-3 div:nth-child(2) input, #col-3 div:nth-child(3) input{
    width: 140px;
    gap: 10x;
}

#col-3 div:nth-child(2) input{
    margin-right: 10px;
}

form input[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 622px;
    height: 51px;

    margin-top: 64px;
    padding: 15px 40px;
    background-color: var(--background-before-form);
    border-radius: 8px;

    font: 20px 'Staatliches', sans-serif;
    color: var(--background-form);
    line-height: 26px;
}